# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.env
.venv/
venv/
env/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db
